{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
<div id="content">
    <h1 style="color:powderblue; background-color: black;">{{ post.title }}</h1>
    <p class="date" style="font-style: italic;">Published {{ post.publish }} by {{ post.author }}</p>
    <div style="color:white;background-color:chocolate">{{ post.body|markdown }}</div>
    <p><a href="{% url 'blog:post_share' post.id %}">share this post</a></p>
    
    <div id="comments" style="background-color:lightgoldenrodyellow; font-style: italic;">
        {% with post.comments.count as total_comments %}
        <h6>{{ total_comments }} comment{{ total_comments|pluralize }}</h6>
        {% endwith %}
        {% for comment in comments %}
        <div class="comment">
            <p class="info">Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}</p>
            {{ comment.body|linebreaks }}
        </div>
        {% empty %}
        <p>There are no comments yet.</p>
        {% endfor %}
    </div>
    <div id="new_comment" style="border: 4px;color: black;background-color:navajowhite;">
        {% if new_comment %}
            <h6 style="color:brown;">Comment Added</h6>
            <h6 style="color:blue;">\(o^_^o)/</h6>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Your Comment" style="background-color:brown; color: whitesmoke;">
                <h6>Name:</h6>
                <input type="text" id="name" name="name" required>
                <h6>Email:</h6>
                <input type="email" id="email" name="email" required>
                <h6>Comments:</h6>
                <textarea id="body" name="body" rows="8" cols="120" required></textarea>
            </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
