{% extends "blog/base.html" %}

{% block title %}Share A Post{% endblock title %}
{% block content %}
{% if sent %}
    <h1 style="background-color: black; color: whitesmoke;">Email Successfully Sent</h1><br>
    <h6 style="color:darkgoldenrod; font-style: italic">'{{ post.title }}' was successfully sent to {{ cleaned_data.to.0 }}!</h6><br>
    <h6 style="color:cornflowerblue">(\(^_^)/)</h6>
{% else %}
    <h1 style="background-color:black; color: gold;">Share '{{ post.title }}' By Email</h1>
    <div class="share_mail" style="background-color:palevioletred; color: white;">
        <form action="." method="post">
            {% csrf_token %}
            <h6>Name:</h6>
            <input type="text" id="name" name="name" style="width: 30%" required><br>
            <h6>From:</h6>
            <input type="email" id="email" name="email" style="width: 30%;" required><br>
            <h6>To:</h6>
            <input type="email" id="to" name="to" style="width: 30%;" required><br>
            <h6>Comments:</h6>
            <textarea id="comments" name="comments" rows="14" cols="94" required></textarea><br>
            <input type="submit" value="Send Email" style="background-color:black; color:deepskyblue; font-size: large; font-style: italic;">
        </form>
    </div>
{% endif %}
{% endblock content %}
